/* ! Centralizzazione Globale */
:root {
    --dimensioni-contenitore: 1080px;
}

 /* ! Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}

/* ! Utility */
.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: #ffffff;   
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.color-white {
    color: #ffffff;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
    padding-right: 10px;
}

/* ? Inzio */

/* Spazio superiore al body */
body {
    padding-top: 100px;
}

/* Header Fisso */
header {
    background-color: #FF6900;
    top:0;
    width: 100%;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px #666;
}

/* Barra del menu */
.main-navbar {
    align-items: center;
    width: var(--dimensioni-contenitore);
    min-height: 80px;
}

.main-navbar > * {
    flex-basis: calc(100% / 3);
}

/* Link menu */
ul {
    gap:10px;
}

/* Logo */
.image-logo {
    height: 30px;
    margin: 0 auto;
}

/* Icone Header */
.icon-my {
    justify-content: flex-end;
    gap: 5px;
}

/* Contenitore Contenuti */
.box-container{
    justify-content: center;
}

/* Figlio diretto del box.container e Padre dell box-card */
.box-items-container {
    flex-wrap: wrap;
    width: var(--dimensioni-contenitore);
    margin: 0 -10px;
}

/* Genitore di tutti i box-image */
.col {
	flex-basis: calc( 100% / 3 );
    padding: 5px;
}

/* Box dei contenuti */
.box-image {
    position: relative;   
}

/* Cuore */
.heart-image {
    position: absolute;
    top:10px;
    right:0;
    background-color: #ffffff;
    padding: 10px;
}

/* Genitore degli sconti */
.box-container-discount{
    position: absolute;
    bottom:30px;
}

/* Carta rossa di sconto */
.paper-red {
    background-color:#FF0000;
    padding: 5px 10px;
    color: #ffffff;
}

/* Carta verde sostenibilità */
.paper-green {
    background-color: #008000;
    padding: 5px 10px;
    color: #ffffff;
}

/* Prezzo attuale in sconto */
.text-discount {
    color: #FF0015;
    font-weight: 800;
}

/* Prezzo prima dello sconto */
.text-out {
    text-decoration:line-through;
}

/* Colore al cuore con hover */
.heart-image:hover {
    color: #ff0000;
}

/* immagine di base scompare con hover */
.card-image:hover .image-base{
    display: none;
}

/* Immagine secondaria è trasparente all'inizio */
.image-trasparent {
    display: none;
}

/* L'immagine secondaria appena ci passi sopra cambia */
.card-image:hover .image-trasparent {
    display: block;
}

/* Footer */
footer {
    background-color: #1A1A1A;
    justify-content: center;
    margin-top: 20px;
}

/* Figlio del footer */
.fot-navbar{
    width: var(--dimensioni-contenitore);
    padding: 25px;
}

/* Divido in due il contenuto della fot-navbar */
.fot-navbar > * {
    width: calc(100% / 2);
}

/* Mando tuto alla fine */
.icon-social {
    text-align: end;
}

/* Icone footer */
.x-2 {
    font-size: 25px;
}
