/* ! Centralizzazione Globale */
:root {
    --dimensioni-contenitore: 1080px;
}
 /* ! Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}

/* ! Utility */
.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: #ffffff;   
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.color-white {
    color: #ffffff;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Spazio superiore al body */
body {
    padding-top: 100px;
}

/* Header Fisso */
header {
    background-color: #FF6900;
    top:0;
    width: 100%;
    min-height: 80px;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

/* Barra del menu */
.main-navbar {
    align-items: center;
    justify-content: space-between;
    width: var(--dimensioni-contenitore);
}

/* Link menu */
ul {
    gap:10px;
}

/* Logo */
.image-logo {
    height: 30px;
}

/* Contenitore Contenuti */
.box-container{
    justify-content: center;
}

/* Figlio diretto del box.container e Padre dell box-card */
.box-items-container {
    flex-wrap: wrap;
    width: var(--dimensioni-contenitore);
}

/* Genitore di tutti i box-image */
.box-items-container .box-card {
	flex-basis: calc(100% / 3);
    padding: 1rem;
}

/* Box dei contenuti */
.box-image {
    position: relative;   
}

/* Cuore */
.heart-image {
    position: absolute;
    top:10px;
    right:0;
    background-color: #ffffff;
    padding: 10px;
}

/* Genitore degli sconti */
.box-container-discount{
    position: absolute;
    bottom:30px;
}

/* Carta rossa di sconto */
.paper-red {
    background-color:#FF0000;
    padding: 5px 10px;
    color: #ffffff;
}

/* Carta verde sostenibilità */
.paper-green {
    background-color: #008000;
    padding: 5px 10px;
    color: #ffffff;
}

/* Prezzo attuale in sconto */
.text-discount {
    color: #FF0015;
    font-weight: 800;
}

/* Prezzo prima dello sconto */
.text-out {
    text-decoration:line-through;
}

/* Colore al cuore con hover */
.heart-image:hover {
    color: #ff0000;
}

/* immagine di base scompare con hover */
.image-base:hover {
    opacity: 0;
}

/* Posizione e immagine come cover con hover */
.box-hover:hover {
    position: relative; 
    background-size: cover;
}

/* ? Immagini che compaiono solo con hover */
.relaxed-fit:hover {
    background-image: url(../img/assets/img/1b.webp);
}

.roses:hover {
    background-image: url(../img/assets/img/2b.webp);
}

.pastel:hover {
    background-image: url(../img/assets/img/3b.webp);
}

.tee:hover {
    background-image: url(../img/assets/img/4b.webp);
}

.stripe:hover {
    background-image: url(../img/assets/img/5b.webp);
}

.sweater:hover {
    background-image: url(../img/assets/img/6b.webp);
}

/* Footer */
footer {
    background-color: #1A1A1A;
    justify-content: center;
    margin-top: 20px;
}

/* Figlio del footer */
.fot-navbar{
    width: var(--dimensioni-contenitore);
    justify-content: space-between;
    padding: 25px;
}

/* Icone footer */
.x-2 {
    font-size: 25px;
}
