:root {
    --dimensioni-contenitore: 1080px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}

/* ! Utility */

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.color-white {
    color: #ffffff;
}

h1 {
    font-size: 20px;
}

body {
    padding-top: 100px;
}

/* Header Fisso */
header {
    background-color: #FF6900;
    top:0;
    width: 100%;
    min-height: 90px;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

/* Barra del menu */
.main-navbar {
    align-items: center;
    justify-content: space-between;
    width: var(--dimensioni-contenitore);
}

/* Link menu */
ul {
    gap:10px;
}

/* Logo */
.image-logo {
    height: 35px;
}

.box-container{
    justify-content: center;
}

.box-items-container {
    flex-wrap: wrap;
    width: var(--dimensioni-contenitore);
}

.box-items-container .box-card {
	flex-basis: calc(100% / 3);
    padding: 1rem;
}

.box-image {
    position: relative;   
}

.heart-image {
    position: absolute;
    top:10px;
    right:0;
    background-color: #ffffff;
    padding: 10px;
}

.box-container-discount{
    position: absolute;
    bottom:30px;
}

.color-red {
    background-color: red;
    padding: 5px 10px;
}

.color-green {
    background-color: green;
    padding: 5px 10px;
}

.heart-image:hover {
    color: red;
}

.image-base:hover {
    opacity: 0;
}

.box-hover:hover {
    position: relative; 
    background-size: cover;
}

.relaxed-fit:hover {
    background-image: url(../img/assets/img/1b.webp);
}

.roses:hover {
    background-image: url(../img/assets/img/2b.webp);
}

.pastel:hover {
    background-image: url(../img/assets/img/3b.webp);
}

.tee:hover {
    background-image: url(../img/assets/img/4b.webp);
}

.stripe:hover {
    background-image: url(../img/assets/img/5b.webp);
}

.sweater:hover {
    background-image: url(../img/assets/img/6b.webp);
}








.text-discount {
    color: red;
    font-weight: 800;
}

.text-out {
    text-decoration:line-through;
}

footer {
    background-color: #1A1A1A;
    justify-content: center;
    margin-top: 20px;
}

.fot-navbar{
    width: var(--dimensioni-contenitore);
    justify-content: space-between;
    padding: 25px;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 15px;
    margin-bottom: 10px;
}
.x-2 {
    font-size: 25px;
}
